doctype
html
	head
		title #{title}
		meta(charset="utf-8")
		link(rel="shortcut icon" href="/media/icon/firm.png")
		link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", type="text/css")
		script(src="/libs/jquery/dist/jquery.min.js")
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
		link(href="/css/main.css", rel="stylesheet", type="text/css")
		script(src="/js/main.js")
		meta(name="viewport" content="width=device-width,height=device-height,maximum-scale=1.0,user-scalable=no")
	body
		include ./header
		.noprint(style="height:58px")
		block content