extends ../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/adHome") Home
				li.breadcrumb-item: a(href="/adShops") 商店列表
				li.breadcrumb-item.active(aria-current="page") 商店信息
		.row
			.col-12.text-right
				include ./detail/upInfo
				span &nbsp;
				include ./detail/upCode
		include ./detail/thisInfo
	input#Stint_Shop(type="hidden", value=Stint.Shop)
	script(src="/js/ader/ShopEdit.js")