extends ../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/adHome") Home
				li.breadcrumb-item.active(aria-current="page") 商店列表
		.row
			.col-12.text-right
				button.mr-5.btn.btn-danger#toggle_del_Btn(type="button") -
				a.btn.btn-warning(href="/adShopAdd") +
		.row.mt-3
			.col-12
				table.table.table-hover.table-bordered
					thead
						tr
							th 账户
							th 名字
							th 是否可用
							th 手机销售
							th PC销售
							th 可重复产品编号
							th 是否存Pnome
							th 所属公司
							th.del_show 删除
					tbody
						each Shop in Shops
							-a;
							tr(class="Shop-id-"+Shop._id)
								td: a(href="/adShop/"+Shop._id) #{Shop.code}
								td #{Shop.nome}
								td
									if Shop.is_usable
										-a;
										span 可用
									else
										span.text-warning 禁用
								td
									if Shop.able_MBsell === true
										span 是
									else
										span 否
								td
									if Shop.able_PCsell === true
										span 是
									else
										span 否
								td
									if Shop.allow_codeReply === true
										span 是
									else
										span 否
								td
									if Shop.is_Pnome === true
										span 是
									else
										span 否
								td
									if Shop.Firm
										-Firm = Shop.Firm;
										span #{Firm.code} (#{Firm.nome})
									else
										span 所属公司数据错误
								td.del_show
									a.btn.btn-danger(href="/adShopDel/"+Shop._id) 删除