a.btn.btn-warning(href="#", data-toggle="modal", data-target="#upInfo") 修改信息

#upInfo.modal.fade
	.modal-dialog
		.modal-content
			form#adShopUpdInfo-Form(method="post", action="/adShopPut/"+Shop._id)
				.modal-header: h3 修改信息
				.modal-body
					.form-group.row
						label.col-3.col-form-label(for="is_usableIpt") 是否可用
						.col-9
							select#is_usableIpt.form-control(name="obj[is_usable]", data-style="btn-info")
								if Shop.is_usable
									option(value="true", selected="selected") 可用
									option(value="false") 禁用
								else
									option(value="true") 可用
									option(value="false", selected="selected") 禁用
					.form-group.row
						label.col-3.col-form-label(for="nomeIpt") 名称
						.col-9
							input#nomeIpt.form-control(type="text", name="obj[nome]" value=Shop.nome)
						.offset-3.col-9.col-form-label.text-danger
					.form-group.row
						label.col-3.col-form-label(for="invoice_codeIpt") 最新发票号
						.col-9
							input#invoice_codeIpt.form-control(type="text", name="obj[invoice_code]" value=Shop.invoice_code)
						.offset-3.col-9.col-form-label.text-danger
					.form-group.row
						label.col-3.col-form-label(for="invoice_fileNameIpt") 最新发票文件名
						.col-9
							input#invoice_fileNameIpt.form-control(type="text", name="obj[invoice_fileName]" value=Shop.invoice_fileName)
						.offset-3.col-9.col-form-label.text-danger
					.form-group.row
						label.col-3.col-form-label(for="allow_virtualOrder") 是否允许虚拟订单
						.col-9
							.form-check.form-check-inline
								if Shop.allow_virtualOrder
									input#allow_virtualOrder.form-check-input(type="checkbox", name="obj[allow_virtualOrder]" checked)
								else
									input#allow_virtualOrder.form-check-input(type="checkbox", name="obj[allow_virtualOrder]")
					.form-group.row
						label.col-3.col-form-label(for="allow_codeDuplicate", title="允许不同的供应商存在相同的产品号") 同产品号
						.col-9
							.form-check.form-check-inline
								if Shop.allow_codeDuplicate
									input#allow_codeDuplicate.form-check-input(type="checkbox", name="obj[allow_codeDuplicate]" checked)
								else
									input#allow_codeDuplicate.form-check-input(type="checkbox", name="obj[allow_codeDuplicate]")
					.form-group.row
						label.col-3.col-form-label(for="allow_Supplier") 是否允许专属供应商
						.col-9
							.form-check.form-check-inline
								if Shop.allow_Supplier
									input#allow_Supplier.form-check-input(type="checkbox", name="obj[allow_Supplier]" checked)
								else
									input#allow_Supplier.form-check-input(type="checkbox", name="obj[allow_Supplier]")
					.form-group.row
						label.col-3.col-form-label(for="is_Pnome") 存产品名
						.col-9
							.form-check.form-check-inline
								if Shop.is_Pnome
									input#is_Pnome.form-check-input(type="checkbox", name="obj[is_Pnome]" checked)
								else
									input#is_Pnome.form-check-input(type="checkbox", name="obj[is_Pnome]")
				.modal-footer
					button.btn.btn-default(type="button" data-dismiss="modal") 取消
					button.btn.btn-success(type="submit") 提交